<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.EasyPark"
        tools:targetApi="31">
        <activity
            android:name=".User.UserBookingJourney.PaymentDoneActivity"
            android:exported="false" />
        <activity
            android:name=".PaymentDoneActivity"
            android:exported="false" />
        <activity
            android:name=".admin.ManageLocations.ParkLocationListing"
            android:exported="false" />
        <activity
            android:name=".admin.History.TransactionHistory"
            android:exported="false" />
        <activity
            android:name=".User.MyBookings.BookingDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".User.MyBookings.ViewBookingDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".User.Settings.Feedback.FeedbackActivity"
            android:exported="false" />
        <activity
            android:name=".User.MyBookings.SpecificBookingActivity"
            android:exported="false" />
        <activity
            android:name=".specificBookingActivity"
            android:exported="false" />
        <activity
            android:name=".User.Settings.SettingsMainPage"
            android:exported="false" />
        <activity
            android:name=".Utilities.NavBar.BaseActivity"
            android:exported="false" />
        <activity
            android:name=".User.MyBookings.MyBookingsListing"
            android:exported="false" />
        <activity
            android:name=".User.UserBookingJourney.UserPaymentPage"
            android:exported="false" />
        <activity
            android:name=".User.UserBookingJourney.SlotBooking"
            android:exported="false" />
        <activity
            android:name=".admin.addParkingLocation.addParkLocation"
            android:exported="false" />
        <activity
            android:name=".admin.adminHomePage"
            android:exported="false" />
        <activity
            android:name=".ForgotPass.ForgotPass"
            android:exported="false" />
        <activity
            android:name=".User.HomePage"
            android:exported="false" />
        <activity
            android:name=".SignIn.SignIn"
            android:exported="false" />
        <activity
            android:name=".SignUp.SignUp"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>